
@media (max-width : 900px){

    header h1{
        font-size: 2em;
        letter-spacing: 3px;
        
        width: 90%;
    }
    nav{
        width:75%;
    
    }
    nav a{
        margin:15px auto;
     
        font-size: 1em;
    }
    .wrapper{
        width:100%;
        height:auto;
        margin-left:10px;
        background-color: blueviolet;
    }
    .carta{
        width: 40%;
        height: 40%;
        margin : 2% 3%;
        
        
    }

    aside{
        margin-top:5% ;
        margin-right: 2%;
        background-color: blue;
        width:100%;
        height: auto;
        display: inline-block;
        float: right;
    }
}


@media (max-width : 1024px){

    header h1{
        font-size: 2em;
        padding: 5px;
        
        


    }
    header{
        background:url(../img/fondo.png);
        width: 100%;
        height: 4em;
    
    }

    header ul {
        margin: 0px 5%;
    }
    
    nav li{
        margin: 2%;
   
    }
 
}
@media (max-width : 430px){

    header h1{
        font-size: 1.1em;
        padding: 1px;
        margin-bottom: 10px;
    }
    

    header ul {
        margin: 10px 1%;
    }
    
    nav li{
        margin: 0%;
   
    }

    nav a{
        margin:15px 2px;

        font-size: 0.9em;
    }
 
}

@media (max-width : 375px){

    header h1{
        font-size: 1.1em;
        padding: 1px;
        margin-bottom: 10px;
    }
    nav a{
        margin:15px 2px;
        font-size: 0.5em;
    }
}


